* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #12162C;
    color: #E0E0E0;
    font-family: sans-serif;
    /*display: grid;*/
}

#chat-body {
    display: grid;
    grid-template-rows: auto auto 1fr auto auto auto auto;
    grid-template-columns: auto 300px;
    grid-template-areas:
        "header header"
        "nav nav"
        "chat users"
        "chat settings"
        "input input";
    /*"emote emote"*/
    /*"format format"*/
    /*min-height: 100vh;*/
    height: 100vh;
}

@media only screen and (max-width: 900px) {
    #chat-body {
	    grid-template-columns: auto auto;
	    grid-template-areas:
		    "header header"
            "nav nav"
            "chat chat"
            "input input"
            /*"emote emote"*/
            /*"format format"*/
            "users users"
            "settings settings";
    }
}

::selection {
	background: #E0E0FF40;
}

a {
	color: inherit;
	text-decoration: none;
	font-size: 1em;
}

/*button {
	color: inherit;
	background-color: #252A52;
	font-size: 1em;
	padding: 2px 4px;
	border: 1px solid #C5CAF2;
	border-radius: 3px;
}*/

button {
	color: inherit;
	border: none;
	background-color: #274458;
	font-size: 1em;
	font-weight: bold;
	padding: 2px 4px;
	border-radius: 3px;
	cursor: pointer;
}

code {
    color: #FFFFFF;
    white-space: pre-wrap;
    tab-size: 4;
    -moz-tab-size: 4;
}

textarea {
	width: calc(100% - 2px - 8px);
	font-family: sans-serif;
	color: inherit;
	background-color: #14273B;
	resize: none;
	height: auto;
	border: 1px solid #CDDADE;
	border-radius: 6px;
	padding: 2px 4px;
}

select {
	color: inherit;
	background-color: #274458;
	border: 1px none #CDDADE;
	border-radius: 6px;
	font-weight: bold;
	cursor: pointer;
}

/* Fix: There is slight height difference between this and button */
/* Fix: No indication of selected file. Auto submit on selected file or list filename in input */
.label-file {
	background-color: #274458;
	padding: 2px 4px;
	border-radius: 3px;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
}

/* Fix: Keyboard selection is bad with this hack */
.input-file {
	position: absolute;
	width: 0.01px;
	height: 0.01px;
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

#chat-box {
	grid-area: chat;
	min-height: 400px;
	overflow-y: auto;
	word-break: break-word;
}

#user-list {
    grid-area: users;
    min-height: 300px;
}

#settings {
	min-height: 100px;
}

#chat-input {
    grid-area: input;
}

#login {
    grid-area: login;
}

#register {
    grid-area: register;
}

.message-overall-container {
}

.message-overall-container:nth-child(odd) {
	background-color: #151A32;
}

.message-container {
	display: flex;
	align-items: center;
	padding: 2px 0;
}

.message-avatar-container {
	padding-right: 4px;
	align-self: flex-start;
}

.message-avatar {
	display: block;
	max-width: 42px;
	max-height: 42px;
	border-radius: 6px;
}

.message-time {
	font-size: 0.6em;
	color: #909090;
}

.message-content {
	display: inline;
}

.message-username {
	font-weight: bold;
	color: #60FFFF;
}

.image-container {
	display: flex;
	justify-content: center;
}

.image-message {
	display: block;
	max-height: 400px;
}

.userlist-container {
	display: flex;
	align-items: center;
	color: #60FFFF;
	font-weight: bold;
}

.userlist-avatar-container {
	margin-right: 2px;
}

.userlist-avatar {
	display: block;
	max-width: 30px;
	max-height: 30px;
	border-radius: 4px;
}

.input-submit {
	float: right;
}