* {
	margin: 0;
	padding: 0;
}

body {
    background-color: #12162C;
    color: #E0E0E0;
    font-family: sans-serif;
    /*display: grid;*/
}

#chat-body {
    display: grid;
    grid-template-rows: auto auto 1fr auto auto auto auto;
    grid-template-columns: auto 300px;
    grid-template-areas:
        "header header"
        "nav nav"
        "chat users"
        "chat settings"
        "input input";
    /*"emote emote"*/
    /*"format format"*/
    min-height: 100vh;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    #chat-body {
	    grid-template-columns: auto auto;
	    grid-template-areas:
		    "header header"
            "nav nav"
            "chat chat"
            "input input"
            /*"emote emote"*/
            /*"format format"*/
            "users users"
            "settings settings";
    }
}

#settings {
    min-height: 200px;
}

::selection {
	background: #E0E0FF40;
}

a {
	color: inherit;
	text-decoration: none;
	font-size: 1em;
}

button {
	color: inherit;
	border: none;
	background-color: #FFFFFF10;
	font-size: 1em;
}

code {
    color: #FFFFFF;
    white-space: pre-wrap;
    tab-size: 4;
    -moz-tab-size: 4;
}

textarea {
    resize: none;
    height: auto;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

#chat-box {
    grid-area: chat;
    min-height: 200px;
    display: grid;
    align-items: center;
    align-content: start;
    grid-template-columns: auto 1fr;
    /* Fix: I should only nowrap the username column */
    /*white-space: nowrap;*/
    /* Fix: Are there support for min-height? */
    /*grid-template-rows: repeat(auto-fill, 50px);*/
    grid-template-areas: "post content";
    overflow-y: scroll;
    word-break: break-word;
    overflow-x: auto;
}

#chat-box > p {
    /*min-height: 50px;*/
    /*height: auto;*/
}

#chat-box > p:nth-child(2n+1) {
    white-space: nowrap;
}

#user-list {
    grid-area: users;
    min-height: 100px;
}

#chat-input {
    grid-area: input;
}

#login {
    grid-area: login;
}

#register {
    grid-area: register;
}

.avatar-message {
    max-width: 40px;
    max-height: 40px;
    border-radius: 5px;
}

.avatar-userlist {
    max-width: 20px;
    max-height: 20px;
}